FlappyBird/Library/
FlappyBird/ProjectSettings/
FlappyBird/.vs/FlappyBird/v14/.suo
FlappyBird/Temp/
FlappyBird/Assets/parallax backgound pack.zip
FlappyBird/Assets/Free Green Flappy Stupid Bird sprite sheets.zip
FlappyBird/Assets/parallax backgound pack.zip.meta
FlappyBird/Assets/Free Green Flappy Stupid Bird sprite sheets.zip.meta
